#!/bin/bash

# Change hostname
hostname "{{ prj_name }}-{{ item.name }}"
echo "{{ prj_name }}-{{ item.name }}" > /etc/hostname

yum update -y

yum install https://repo.saltstack.com/yum/redhat/salt-repo-latest.el7.noarch.rpm -y

yum install salt-minion -y

echo "master: {{ master_instance_facts.instances.0.private_ip_address }}" > /etc/salt/minion


curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py --insecure && python get-pip.py && rm -rf get-pip.py

pip install python-gnupg
pip install pygit2
pip install libgit2

systemctl restart salt-minion

systemctl enable salt-minion

node_name=$(hostname)
if [[ "${node_name}" == *'bastion'* ]];then
echo "{{ salt_instance.pem_key }}" > /root/aws-test
chmod 600 /root/aws-test
fi

systemctl disable firewalld
systemctl stop firewalld


