#!/bin/bash

# Change hostname
hostname "{{ prj_name }}-{{ item.name }}"
echo "{{ prj_name }}-{{ item.name }}" > /etc/hostname

yum update -y

yum install https://repo.saltstack.com/yum/redhat/salt-repo-latest.el7.noarch.rpm -y

yum install salt-minion -y

systemctl restart salt-minion

systemctl enable salt-minion

yum install salt-master -y

cat <<EOF > /etc/salt/master

fileserver_backend:
 - gitfs

#******GIT Remote configure *************#
gitfs_provider: pygit2

gitfs_remotes:
  - {{ salt_instance.git_state_url }}
gitfs_pubkey: "/srv/salt/key/git/id.rsa.pub"
gitfs_privkey: "/srv/salt/key/git/id.rsa"


#******GIT Pillar configure *************#
git_pillar_provider: pygit2
pillar_source_merging_strategy: recurse
ext_pillar:
  - git:
     - master {{ salt_instance.git_pillar_url }}

git_pillar_pubkey: "/srv/salt/key/git/id.rsa.pub"
git_pillar_privkey: "/srv/salt/key/git/id.rsa"

##########Reactor##################

reactor:
  - 'salt/minion/*/start':
    - salt://reactor/set_env.sls

timeout: 60
EOF

curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py --insecure && python get-pip.py && rm -rf get-pip.py

pip install python-gnupg
pip install pygit2
pip install libgit2

mkdir -p /srv/salt/key/git

echo "{{ salt_instance.git_prikey }}" > "/srv/salt/key/git/id.rsa"
echo "{{ salt_instance.git_pubkey }}" > "/srv/salt/key/git/id.rsa.pub"

chmod 600 "/srv/salt/key/git/id.rsa"
chmod 600 "/srv/salt/key/git/id.rsa.pub"

ssh -i /srv/salt/key/git/id.rsa -o "StrictHostKeyChecking no" "bitbucket.org"


cat <<EOF > /usr/bin/salt-update-filesrv
#!/bin/bash
salt '*' saltutil.clear_cache
salt-run fileserver.update
EOF

cat <<EOF > /usr/bin/salt-update-pillar
#!/bin/bash
salt-run git_pillar.update
salt '*' saltutil.refresh_pillar
salt '*' mine.update
EOF

chmod +x /usr/bin/salt-update*

mkdir -p /etc/salt/gpgkeys && chmod 0700 /etc/salt/gpgkeys
yum install -y git

systemctl disable firewalld
systemctl stop firewalld

systemctl restart salt-master
systemctl enable salt-master